<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Professores</title>
    </head>
    <body>
        <h1>Lista de docentes da fatec Sorocaba</h1>
    </body>
</html>
